<main class="main_Routes">
    <div class="Animals_top">
        Скалы
    </div>
    <div class="Routes_content">
        <div class="Routes_content-box">
            <div class="Routes_content_name">
                Слоник
            </div>
            <div class="Routes_content_img">
                <img class="Routes_content_img" src="IMG\7c7056ce1ac5954e5a9e5dee03310ca2.jpg" alt="">
            </div>
            <div class="Routes_content_description">
                Несмотря на сравнительно малые размеры, Слоник – один из самых знаменитых камней Центральных Столбов. Слоник находится у западного подножия 1-го Столба и встречает путешественников, пришедших по Лалетинской тропе. Камень представляет собой вытянутую с юга на запад сиенитовую отдельность и по форме действительно напоминает лежащего слоненка. Слоник является своеобразным тренажером как для начинающих, так и для асов скалолазания – на нем насчитывается 20 (!) маршрутов (лазов, ходов) самой разной категории сложности. Его восточная сторона, практически гладкая наклонная поверхность – один из самых популярных «полигонов» для отработки приемов восхождения. Впервые Слоник был покорен в 1886 году с помощью ствола дерева, прислоненного к восточной «катушке».
            </div>
        </div>
    </div>
</main>