
<header class="header">
    <div class="header_div">
        <a href="#" class="header_div_a">
            Скалы
        </a>
    </div>
    <div class="header_div">
        <a href="#" class="header_div_a">
            Животные
        </a>
    </div>
    <div class="header_div">
        <a href="#" class="header_div_a">
            Галерея
        </a>
    </div>
    <div class="header_div">
        <a href="#" class="header_div_a">
            Осторожно
        </a>
    </div>
    <div class="header_div">
        <a href="#" class="header_div_a">
            Растения
        </a>
    </div>
    <div class="header_div">
        <a href="#" class="header_div_a">
            О парке
        </a>
    </div>
</header>