<main class="main_Animals">
    <div class="Animals_top">
        Растения
    </div>
    <div class="Animals_content">
        <div class="Animals_content-box">
            <div class="content-img-box">
                <img src="IMG\Без названия.jpg" alt="" class="content-img">
            </div>
            <div>
                <div class="content-name">
                    Lorem ipsum dolor
                </div>
                <div class="content-description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, nobis! Molestias assumenda nesciunt laudantium, porro et dolor enim animi ipsum, ex laboriosam maiores officia obcaecati delectus recusandae voluptates est nihil.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tenetur, officiis tempora fugit minus illo voluptatem veritatis inventore perferendis ea. Porro neque illum magnam placeat dicta voluptatem quam iste a?
                </div>
            </div>
            <hr>
        </div>
    </div>
</main>
