<main class="main_Precautions">
    <div class="Animals_top">
        Осторожно
    </div>
    <div class="Precautions_content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor accusamus aliquam ut. Laudantium architecto, quidem aspernatur aperiam provident laboriosam, distinctio itaque eveniet, ad dignissimos in omnis autem. Itaque, libero fugiat?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nesciunt at ipsa nam quas dolorem pariatur nihil consequatur deserunt nisi voluptas, eum officia sunt eaque impedit debitis cumque esse molestias.
    </div>

</main>
