<main class="main_Gallery">
    <div class="Animals_top">
        Галерея
    </div>
    <div class="Gallery_content">
        <div class="Gallery_content-box-img">
            <img class="Gallery_content-img" src="IMG\6696f7ce-69ad-11ec-90fa-ce6e42e658c9.800x600.jpeg" alt="">
        </div>
    </div>
</main>
